.playlistWrapper{
    background: url('/public/darkBackground1.jpg');
    height: 100%;
}
.playlistContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.playlistCreateBox{
    padding: 1rem;
    box-shadow: #759e03 0px 0px 25px 0px;
    border: 1px solid #00000026;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    align-items: center;
    background: white;
    position: relative;
}
.playlistCreateBoxClose{
    padding: 0;
    border: 0;
    display: flex;
    cursor: pointer;
    position: absolute;
    right: -12px;
    top: -12px;
    background: red;
    color: white;
    font-size: 1.5rem;
    border-radius: 4px;
}
.playlistCreateBoxTitle{
    color: #000000a1;
}
.playlistCreateBoxInput{
    height: 2rem;
    border: 1px solid #00000052;
    border-radius: 0.5rem;
}
.playlistCreateBoxButton{
    cursor: pointer;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    border: 1px solid #00000026;
    height: 2.5rem;
    border-radius: 0.4rem;
    margin: 1rem;
    background: none;
}
.btnWrapper{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0 0.5rem 0;
}
.btnWrapperBtn{
    background: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.8rem;
    border-color: #0000ff82;
    color: blue;
}
.playlistDropDownContainerWrapper{
    padding:1rem;
}
.playlistDropDownContainer{
    display: flex;
    flex-direction: column;
}
.playlistDropDownContainerButton{
    background: none;
    border-radius: 0.4rem;
    cursor: pointer;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    border: 1px solid #00000026;
    padding: 1rem 0;
}
.playlistDropDownContainerSelectBox{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}
.playlistDropDownContainerListImg{
    width: 4rem;
    height: 4rem;
    border-radius: .5rem;
}
.playlistDropDownContainerListLabel{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0 0 0.5rem;
}
.playlistDropDownContainerList{
    display: flex;
    align-items: center;
    /* width: 100%; */
    background: none;
    border-radius: 0.4rem;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    border: 1px solid #00000026;
    padding: 0.5rem;
    margin: 0.2rem 0;
}
.playlistDropDownContainerListLabelWrapper{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1;
    overflow: hidden;
}
.playlistDropDownContainerListButtonWrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}
.playlistDropDownContainerListButton{
    background: none;
    border-radius: 0.4rem;
    cursor: pointer;
    /* box-shadow: 0 2px 5px 1px rgba(64,60,67,.16); */
    border: 1px solid #00000026;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 0.8rem;
}
.playlistDropDownContainerListButtonPrimary{
    border-color: #0000ff82;
    color: blue;
}
.playlistDropDownContainerListButtonSecondary{
    border-color: #ff00006e;
    color: red;
}
.playlistDropDownContainerSelect{
    height: 2.5rem;
    border-radius: 0.25rem;
    border-color: #00000047;
    margin-top: 0.2rem;
}
.playlistDropDownContainerInputWrapper{
    display: flex;
    align-items: center;
}
.playlistDropDownContainerInput{
    height: 2.5rem;
    border-radius: 0.25rem;
    margin-top: 0.2rem;
    border: 1px solid #00000047;
    flex-basis: 100%;
}
.playlistDropDownContainerInputButton{
    background: none;
    border-radius: 0.4rem;
    cursor: pointer;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    border: 1px solid #00000026;
    height: 2.5rem;
    margin-left: 0.2rem;
}